<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="1800" schema="Log4J-V2.2.xsd">
    <Properties>
        <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg -current iteration: %X{ite}%n</Property>
    </Properties>
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">

            <PatternLayout pattern="%highlight{${LOG_PATTERN}} "/>
        </Console>

        <File name="File1" fileName="File/warn.log" append="false">

                <MarkerFilter marker="Hickory" onMatch="ACCEPT" onMismatch="DENY"/>

        </File>

        <File name="File2" fileName="File/error.log" append="false">

                <MarkerFilter marker="dickory" onMatch="ACCEPT" onMismatch="DENY"/>

        </File>

        <File name="File3" fileName="File/info.log" append="false">

                <NoMarkerFilter onMatch="ACCEPT" onMismatch="DENY"/>

        </File>

        <File name="File4" fileName="File/night.log" append="false">

                <TimeFilter start="05:00:00" end="20:00:00" onMatch="DENY" onMismatch="ACCEPT"/>


        </File>
    </Appenders>

    <Loggers>

        <root level="all">
            <appender-ref ref="File1"/>
            <appender-ref ref="File2"/>
            <appender-ref ref="File3"/>
            <appender-ref ref="File4"/>
            <appender-ref ref="Console"/>
        </root>
        
    </Loggers>

</Configuration>